/* Delay then slowly fade in */
@-webkit-keyframes DelayFadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes DelayFadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
	100% { opacity: 1; }
}
@-ms-keyframes DelayFadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes DelayFadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes DelayFadeIn {
    0% { opacity: 0; }
    30% { opacity: 0; }
	100% { opacity: 1; }
}

/* Fade in transluscent brown background */
@-webkit-keyframes OverlayFadeIn {
    0% { background:rgba(129, 83, 72,.0) }
    100% { background:rgba(129, 83, 72,.7); }
}
@-moz-keyframes OverlayFadeIn {
    0% { background:rgba(129, 83, 72,.0) }
    100% { background:rgba(129, 83, 72,.7); }
}
@-ms-keyframes OverlayFadeIn {
    0% { background:rgba(129, 83, 72,.0) }
    100% { background:rgba(129, 83, 72,.7); }
}
@-o-keyframes OverlayFadeIn {
    0% { background:rgba(129, 83, 72,.0) }
    100% { background:rgba(129, 83, 72,.7); }
}
@keyframes OverlayFadeIn {
    0% { background:rgba(129, 83, 72,.0) }
    100% { background:rgba(129, 83, 72,.7); }
}

/* Fade and slide in modal */
@-webkit-keyframes ModalContentFadeIn {
    0% { opacity:0; top:-20px; }
    100% { opacity:1; top:0; }
}
@-moz-keyframes ModalContentFadeIn {
    0% { opacity:0; top:-20px; }
    100% { opacity:1; top:0; }
}
@-ms-keyframes ModalContentFadeIn {
    0% { opacity:0; top:-20px; }
    100% { opacity:1; top:0; }
}
@-o-keyframes ModalContentFadeIn {
    0% { opacity:0; top:-20px; }
    100% { opacity:1; top:0; }
}
@keyframes ModalContentFadeIn {
    0% { opacity:0; top:-20px; }
    100% { opacity:1; top:0; }
}