@import "Palette.css";
@import "Font.css";

/* Set responsive style for mobile devices */
.Characters .Container {
  margin-left: 37px;
  margin-right: 37px;
  margin-bottom: 22px;
  background-color: var(--bnd-white);

  -webkit-animation-name: fadein;
	-webkit-animation-duration: 2s;
	-moz-animation-name: fadein;
	-moz-animation-duration: 2s;
	-ms-animation-name: fadein;
	-ms-animation-duration: 2s;
	-o-animation-name: fadein;
	-o-animation-duration: 2s;
	animation-name: fadein;
	animation-duration: 2s;
}

.Characters .Container .Text {
  padding-left: 40px;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 35px;
  background-color: var(--bnd-black);
}

.Characters .Container .Text h1 {
  font-family: 'pokemon_gbregular';
  font-size: 18px;
  color: var(--bnd-pale-green);
  line-height: 175%;
}

.Characters .Container .Text p {
  margin: 0;
  margin-top: 20px;
  font-family: 'raleway_medium';
  font-size: 14px;
  color: var(--bnd-white);
  line-height: 175%;
}

.Characters .Container .Viewer {
  margin: 0;
  margin-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
}

.Characters .Container .Poster1_viewer {
  margin-bottom: 22px;
}

.Characters .Container button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.Characters .Container img {
  width: 63vw;
}

/* Set responsive style for tablet devices */
@media (min-width: 768px) {
  .Characters .Container {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 31px;
  }
  
  .Characters .Container .Text {
    padding-left: 110px;
    padding-top: 60px;
    padding-right: 110px;
    padding-bottom: 60px;
  }
  
  .Characters .Container .Text h1 {
    font-size: 24px;
  }

  .Characters .Container .Text p {
    margin-top: 25px;
    font-size: 20px;
  }

  .Characters .Container .Viewer {
    margin: 0;
    margin-top: 44px;
    padding-left: 44px;
    padding-right: 44px;
  }

  .Characters .Container .Poster1_viewer {
    margin-bottom: 44px;
  }

  .Characters .Container img {
    width: 516px;
  }
}

/* Set responsive style for desktop devices */
@media (min-width: 1366px) {
  .Characters .Container {
    margin-left: 136px;
    margin-right: 136px;
    margin-bottom: 30px;
  }

  .Characters .Container .Text {
    padding: 0;
    padding-left: 50px;
    padding-top: 55px;
    padding-right: 45px;
    text-align: right;
  }

  .Characters .Container .Text h1 {
    padding: 0;
  }

  .Characters .Container .Text p {
    margin-top: 18px;
    font-size: 16px;
  }

  .Characters .Container .Characters-All {
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 0;
  }

  .Characters .Container .Row1 {
    margin: 0;
    padding: 0;
  }

  .Characters .Container .Row2 {
    margin: 0;
    margin-top: 24px;
    padding: 0;
  }

  .Characters .Container .Row3 {
    margin: 0;
    margin-top: 24px;
    padding: 0;
  }

  .Characters .Container .Row4 {
    margin: 0;
    margin-top: 24px;
    padding: 0;
  }

  .Characters .Container .Viewer {
    margin: 0;
    padding: 0;
    align-self: center;
  }

  .Characters .Container button {
    width: 100%;
    background-color: var(--bnd-white);
  }

  .Characters .Container img {
    width: 91%;
    opacity: 0.91;

    transition: 0.3s;
  }

  .Characters .Container img:hover {
    width: 100%;
    opacity: 1;
  }
}

/* Set responsive style for large desktop devices */
@media (min-width: 1920px) {
  .Characters .Container {
    margin-left: 271px;
    margin-right: 271px;
    margin-bottom: 30px;
  }

  .Characters .Container .Text {
    padding-left: 60px;
    padding-top: 82.5px;
    padding-right: 50px;
  }

  .Characters .Container .Text h1 {
    font-size: 32px;
  }

  .Characters .Container .Text p {
    margin-top: 24px;
    font-size: 24px;
  }
}