@import "Palette.css";
@import "Font.css";
@import "Animation.css";

/* Set responsive style for mobile devices */
.Fonts .Container {
  margin-left: 37px;
  margin-right: 37px;
  margin-bottom: 25px;
  background-color: var(--bnd-white);

  -webkit-animation-name: DelayFadeIn;
	-webkit-animation-duration: 1.5s;
	-moz-animation-name: DelayFadeIn;
	-moz-animation-duration: 1.5s;
	-ms-animation-name: DelayFadeIn;
	-ms-animation-duration: 1.5s;
	-o-animation-name: DelayFadeIn;
	-o-animation-duration: 1.5s;
	animation-name: DelayFadeIn;
	animation-duration: 1.5s;
}

.Fonts .Container .Text {
  padding-left: 40px;
  padding-top: 35px;
  padding-right: 40px;
  padding-bottom: 35px;
  background-color: var(--bnd-black);
  text-align: center;
}

.Fonts .Container .Text h1 {
  font-family: 'pokemon_gbregular';
  font-size: 18px;
  color: var(--bnd-pale-green);
  line-height: 175%;
}

.Fonts .Container .Text p {
  margin: 0;
  margin-top: 20px;
  font-family: 'raleway_medium';
  font-size: 14px;
  color: var(--bnd-white);
  line-height: 175%;
}

.Fonts .Container button {
  padding: 0;
  border: 0;
  outline: 0;
}

.Fonts .Container img {
  width: 63vw;
}

.Fonts .Container .Fonts-Digital {
  padding-left: 22px;
  padding-right: 22px;
}

.Fonts .Container .Fonts-Digital button {
  margin-top: 22px;
}

.Fonts .Container .Fonts-Analog {
  padding-left: 22px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
}

/* Set responsive style for tablet devices */
@media (min-width: 768px) {
  .Fonts .Container {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
  }

  .Fonts .Container .Text {
    padding-left: 110px;
    padding-top: 60px;
    padding-right: 110px;
    padding-bottom: 60px;
  }

  .Fonts .Container .Text h1 {
    font-size: 24px;
  }

  .Fonts .Container .Text p {
    margin-top: 25px;
    font-size: 20px;
  }

  .Fonts .Container img {
    width: 516px;
  }

  .Fonts .Container .Fonts-Digital {
    padding-left: 44px;
    padding-right: 44px;
  }

  .Fonts .Container .Fonts-Digital button {
    margin-top: 44px;
  }
  
  .Fonts .Container .Fonts-Analog {
    padding-left: 44px;
    padding-top: 44px;
    padding-right: 44px;
    padding-bottom: 44px;
  }
}

/* Set responsive style for desktop devices */
@media (min-width: 1366px) {
  .Fonts .Container {
    margin-left: 136px;
    margin-right: 136px;
  }

  .Fonts .Container .Text {
    padding: 0;
    padding-left: 55px;
    padding-top: 55px;
    padding-right: 45px;
    text-align: right;
  }

  .Fonts .Container .Text h1 {
    padding: 0;
  }

  .Fonts .Container .Text p {
    margin-top: 18px;
    font-size: 16px;
  }

  .Fonts .Container button {
    width: 100%;
    background-color: var(--bnd-white);
  }

  .Fonts .Container img {
    width: 91%;
    opacity: 0.91;

    transition: 0.5s;
  }

  .Fonts .Container img:hover {
    width: 100%;
    opacity: 1;
  }

  .Fonts .Container .Fonts-Digital {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }

  .Fonts .Container .Fonts-Digital button {
    margin-top: 50px;
  }

  .Fonts .Container .Fonts-Analog {
    padding: 0;
    padding-top: 50px;
    padding-right: 50px;
  }
}

/* Set responsive style for desktop devices */
@media (min-width: 1920px) {
  .Fonts .Container {
    margin-left: 271px;
    margin-right: 271px;
    margin-bottom: 35px;
  }
  
  .Fonts .Container .Text {
    padding-left: 70px;
    padding-top: 82.5px;
    padding-right: 50px;
  }

  .Fonts .Container .Text h1 {
    font-size: 32px;
  }

  .Fonts .Container .Text p {
    margin-top: 24px;
    font-size: 24px;
  }
}