@import "Palette.css";
@import "Font.css";

/* Set responsive style for mobile devices */
.Fonts .Container {
  margin-left: 37px;
  margin-right: 37px;
  margin-bottom: 22px;
  background-color: var(--bnd-white);
}

.Fonts .Container .Text {
  padding-left: 37px;
  padding-top: 33px;
  padding-right: 37px;
  padding-bottom: 33px;
  background-color: var(--bnd-black);
  text-align: center;
}

.Fonts .Container .Text h1 {
  font-family: 'pokemon_gbregular';
  font-size: 18px;
  color: var(--bnd-pale-green);
}

.Fonts .Container .Text p {
  margin: 0;
  margin-top: 4px;
  font-family: 'raleway_medium';
  font-size: 14px;
  color: var(--bnd-white);
}

.Fonts .Container button {
  padding: 0;
  border: 0;
}

.Fonts .Container img {
  width: 63vw;
}

.Fonts .Container .Fonts-Digital {
  padding-left: 22px;
  padding-right: 22px;
}

.Fonts .Container .Fonts-Digital button {
  margin-top: 22px;
}

.Fonts .Container .Fonts-Analog {
  padding-left: 22px;
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
}

/* Set responsive style for tablet devices */
@media (min-width: 768px) {
  .Fonts .Container {
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 31px;
  }

  .Fonts .Container .Text {
    padding-left: 75px;
    padding-top: 75px;
    padding-right: 75px;
    padding-bottom: 75px;
  }

  .Fonts .Container .Text h1 {
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 24px;
  }

  .Fonts .Container .Text p {
    margin-top: 16px;
    font-size: 20px;
  }

  .Fonts .Container img {
    width: 516px;
  }

  .Fonts .Container .Fonts-Digital {
    padding-left: 44px;
    padding-right: 44px;
  }

  .Fonts .Container .Fonts-Digital button {
    margin-top: 44px;
  }
  
  .Fonts .Container .Fonts-Analog {
    padding-left: 44px;
    padding-top: 44px;
    padding-right: 44px;
    padding-bottom: 44px;
  }
}

/* Set responsive style for desktop devices */
@media (min-width: 1366px) {
  .Fonts .Container {
    margin-left: 136px;
    margin-right: 136px;
    margin-bottom: 30px;
  }

  .Fonts .Container .Text {
    padding: 0;
    padding-left: 75px;
    padding-top: 135px;
    padding-right: 40px;
    text-align: right;
  }

  .Fonts .Container .Text h1 {
    padding: 0;
  }

  .Fonts .Container .Text p {
    margin-top: 24px;
  }

  .Fonts .Container button {
    width: 100%;
    background-color: var(--bnd-white);
  }

  .Fonts .Container img {
    width: 91%;
    opacity: 0.91;

    transition: 0.3s;
  }

  .Fonts .Container img:hover {
    width: 100%;
    opacity: 1;
  }

  .Fonts .Container .Fonts-Digital {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  .Fonts .Container .Fonts-Digital button {
    margin-top: 30px;
  }

  .Fonts .Container .Fonts-Analog {
    padding: 0;
    padding-top: 30px;
    padding-right: 30px;
  }
}

/* Set responsive style for desktop devices */
@media (min-width: 1920px) {
  .Fonts .Container {
    margin-left: 271px;
    margin-right: 271px;
    margin-bottom: 30px;
  }
  .Fonts .Container .Text {
    padding-left: 75px;
    padding-top: 175px;
    padding-right: 50px;
  }

  .Fonts .Container .Text h1 {
    font-size: 32px;
  }

  .Fonts .Container .Text p {
    margin-top: 24px;
    margin-bottom: 275px;
    font-size: 24px;
  }
}