@import "Palette.css";
@import "Font.css";

.Relative {
  position: relative;
  bottom: 0;
}

.Absolute {
  position: absolute;
  bottom: 0;
}

@media (min-width: 768px) {
  #Email {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  #Email {
    font-size: 12px;
  }
}

#Email {
  margin: 0;
  padding-bottom: 1.25em;
  color: var(--bnd-white);
  font-family: 'pokemon_gbregular';
  text-align: center;
}