@import "Palette.css";
@import "Font.css";

.Footer {
  position: relative;
  bottom: 0;
}

#Email {
  margin: 0;
  padding-bottom: 28px;
  font-family: 'pokemon_gbregular';
  font-size: 12px;
  color: var(--bnd-white);
  text-align: center;
}

@media (min-width: 768px) {
  #Email {
    font-size: 20px;
  }
}

@media (min-width: 1366px) {
  #Email {
    font-size: 16px;
  }
}

@media (min-width: 1920px) {
  #Email {
    font-size: 20px;
  }
}