@import "Animation.css";

/* Set vendor-specific animation name and duration on .Logo class */
.Logo {
	-webkit-animation-name: fadein;
	-webkit-animation-duration: 2s;
	-moz-animation-name: fadein;
	-moz-animation-duration: 2s;
	-ms-animation-name: fadein;
	-ms-animation-duration: 2s;
	-o-animation-name: fadein;
	-o-animation-duration: 2s;
	animation-name: fadein;
	animation-duration: 2s;
}

