:root {
  --bnd-pale-brown: #D1C2BF;
  --bnd-light-brown: #A98A83;
  --bnd-brown: #815348;
  --bnd-dark-brown: #591B0C;
  --bnd-black: #050601;
  --bnd-green: #79AD75;
  --bnd-light-green: #BADBB2;
  --bnd-pale-green: #DEECD8;
  --bnd-white: #FBFBFC;
  --bnd-blue: #ACC6D5;
}