@import "Palette.css";

.SocialBar {
  background-color: var(--bnd-sky);
  text-align: center;
}

.SocialBar img {
  height: 55px;
  margin: 1.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  transition: 0.6s;
}

.SocialBar img:hover {
  height: 61px;
}