@import "Animation.css";
@import "Palette.css";
@import "Font.css";

.UX .Container {
  margin: 0;
  margin-left: 37px;
  margin-right: 37px;
  background-color: var(--bnd-white);

  -webkit-animation-name: fadein;
	-webkit-animation-duration: 1s;
	-moz-animation-name: fadein;
	-moz-animation-duration: 1s;
	-ms-animation-name: fadein;
	-ms-animation-duration: 1s;
	-o-animation-name: fadein;
	-o-animation-duration: 1s;
	animation-name: fadein;
	animation-duration: 1s;
}

.UX .Container .Text {
  background-color: var(--bnd-black);
}

.UX .Container .Text h1 {
  font-family: 'pokemon_gbregular';
  color: var(--bnd-pale-green);
}

.UX .Container .Text p {
  font-family: 'raleway_medium';
  color: var(--bnd-white);
}

.UX .Container .Projects button {
  background-color: var(--bnd-white);
  border: 0;
  border-radius: 64px;
  outline: none;
  font-family: 'pokemon_gbregular';
  color: var(--bnd-black);

  transition: 0.3s;
}

.UX .Container .Projects button:hover {
  background-color: var(--bnd-black);
  color: var(--bnd-white);
}

.UX .Container .Projects {
  margin: 0;
  padding: 0;
}

.UX .Container .Projects .Project {
  margin: 0;
  padding: 0;
}

.UX .Container .Projects .Project1 {
  background-color: var(--bnd-pale-brown);
}

.UX .Container .Projects .Project2 {
  background-color: var(--bnd-light-brown);
}

.UX .Container .Projects .Project3 {
  background-color: var(--bnd-brown);
}

.UX .Container .Projects .Project4 {
  background-color: var(--bnd-dark-brown);
}

/* Set responsive style for mobile devices */
.UX {
  margin-bottom: 22px;
}

.UX .Container {
  margin: 0;
  margin-left: 37px;
  margin-right: 37px;
}

.UX .Container .Text {
  padding: 0;
  padding-left: 37px;
  padding-top: 33px;
  padding-right: 37px;
  padding-bottom: 33px;
  text-align: center;
}

.UX .Container .Text h1 {
  font-size: 18px;
}

.UX .Container .Text p {
  margin: 0;
  margin-top: 12px;
  font-size: 14px;
}

.UX .Container .Projects {
  height: 38vh;
}

.UX .Container .Projects .Project {
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
}

.UX .Container .Projects button {
  padding: 0;
  padding-left: 15px;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  font-size: 10px;
  box-shadow: 0 0 12px var(--bnd-black);
}

/* Set responsive style for tablet devices */
@media (min-width: 768px) {
  .UX {
    margin-bottom: 31px;
  }

  .UX .Container {
    margin: 0;
    margin-left: 80px;
    margin-right: 80px;
  }

  .UX .Container .Text {
    padding: 0;
    padding-left: 78px;
    padding-top: 36px;
    padding-right: 78px;
    padding-bottom: 36px;
  }

  .UX .Container .Text h1 {
    font-size: 24px;
  }

  .UX .Container .Text p {
    margin: 0;
    margin-top: 12px;
    font-size: 20px;
  }

  .UX .Container .Projects {
    height: 48vh;
  }

  .UX .Container .Projects button {
    padding: 0;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 16px;
    box-shadow: 0 0 20px var(--bnd-black);
  }
}

/* Set responsive style for desktop devices */
@media (min-width: 1366px) {
  .UX {
    margin-bottom: 30px;
  }

  .UX .Container {
    margin: 0;
    margin-left: 136px;
    margin-right: 136px;
    height: 75vh;
  }

  .UX .Container .Text {
    padding: 0;
    padding-left: 43px;
    padding-top: 138px;
    padding-right: 43px;
    text-align: right;
  }

  .UX .Container .Text p {
    margin: 0;
    margin-top: 18px;
    font-size: 16px;
  }

  .UX .Container .Projects {
    height: auto;
  }

  .UX .Container .Projects button {
    padding: 0;
    padding-left: 35px;
    padding-top: 25px;
    padding-right: 35px;
    padding-bottom: 25px;
    font-size: 16px;
    box-shadow: 0 0 30px var(--bnd-black);
  }
}

/* Set responsive style for large desktop devices */
@media (min-width: 1920px) {
  .UX {
    margin-bottom: 35px;
  }

  .UX .Container {
    margin: 0;
    margin-left: 271px;
    margin-right: 271px;
    height: 77vh;
  }

  .UX .Container .Text {
    padding: 0;
    padding-left: 43px;
    padding-top: 80px;
    padding-right: 43px;
    text-align: right;
  }

  .UX .Container .Text h1 {
    font-size: 32px;
  }

  .UX .Container .Text p {
    margin: 0;
    margin-top: 36px;
    font-size: 24px;
  }

  .UX .Container .Projects button {
    padding: 0;
    padding-left: 45px;
    padding-top: 35px;
    padding-right: 45px;
    padding-bottom: 35px;
    font-size: 24px;
  }

  .Modal {
    margin: auto;
    margin-top: 105px;
    width: 1360px;
    border: 0;
    outline: none;
  }

  .Overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(129, 83, 72, 0.5);
    backdrop-filter: blur(5px);

    -webkit-animation-name: fadein;
	  -webkit-animation-duration: 0.5s;
	  -moz-animation-name: fadein;
	  -moz-animation-duration: 0.5s;
	  -ms-animation-name: fadein;
	  -ms-animation-duration: 0.5s;
	  -o-animation-name: fadein;
	  -o-animation-duration: 0.5s;
	  animation-name: fadein;
	  animation-duration: 0.5s;
  }

  .Modal .Text {
    background-color: var(--bnd-black);
    border: 0;
    box-shadow: 0 0 30px rgba(5, 6, 1, 0.7);
  }

  .Modal .Text button {
    margin: 0;
    padding: 0;
    margin-left: 32px;
    margin-top: 44px;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  .Modal .Text h1 {
    margin: 0;
    margin-left: 85px;
    margin-top: 25px;
    margin-right: 43px;
    font-family: 'pokemon_gbregular';
    font-size: 32px;
    color: var(--bnd-pale-green);
    text-align: right;
  }

  .Modal .Text p {
    margin: 0;
    margin-left: 85px;
    margin-top: 36px;
    margin-right: 43px;
    margin-bottom: 90px;
    font-family: 'raleway_medium';
    font-size: 24px;
    color: var(--bnd-white);
    text-align: right;
  }

  .Modal .Content {
    padding: 0;
    padding-left: 44px;
    padding-top: 44px;
    padding-right: 44px;
    background-color: var(--bnd-white);
    border: 0;
    box-shadow: 0 0 30px rgba(5, 6, 1, 0.7);
  }

  .Modal .Content .Link {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    padding-left: 45px;
    padding-top: 30px;
    padding-right: 45px;
    padding-bottom: 30px;
    font-family: 'raleway_medium';
    font-size: 24px;
    color: var(--bnd-black);
    border: 0;
    border-radius: 64px;
    outline: 0;
    box-shadow: 0 0 30px rgba(5, 6, 1, 0.7);
  }

  .Modal .Content .Link:hover {
    background-color: var(--bnd-black);
    color: var(--bnd-white);
    text-decoration: none;
  }
}