@import "./css/Palette.css";

.App {
  background-color: var(--bnd-grass);
  text-align: center;
}

.App .SocialBar {
  position: fixed;
  top: 0;
}

.App .Logo {
  height: 86vh;
}

.App .DownArrow {
  height: 5vh;
}