@import "./css/Palette.css";

.App {
  background-image: linear-gradient(var(--bnd-lightgreen), var(--bnd-deepgreen));
  text-align: center;
}

@media (min-width: 768px) {
  .App .Logo {
    width: 80vh;
  }
}
@media (max-width: 768px) {
  .App .Logo {
    width: 80vw;
  }
}